{% load static %}
<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%  static "/css/style.css" %}" />
        <script defer src="{%  static "/js/skript.js" %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
      <link rel="icon"  href="{%  static "img/favicon.png" %}" type="image/x-icon">
    <title>Flick</title>
  </head>
  <body style="background-color:  #1a191f">

    <header class="container">

      <div class="header__content">
        <a href="main" class="header__logo">Flick-films</a>
        <a href="compilation" class="header__logo">Каталог</a>
        <form>
          <input type="text" class="header__search" placeholder="Поиск" />
        </form>
      </div>
    </header>
    <div class="container">
      <div class="movies"></div>
    </div>

  </body>
</html>